/* Color Palette
  cru-gold #f9b625 rgb(249, 182, 37)
  cru-gray #666062 rgb(98, 96, 98)
  cru-orange #dd7d1b rgb(221, 125, 27)
  cru-deep-blue #007398 rgb(0, 115, 152)
  cru-bright-blue #3eb1c8 rgb(62, 177, 200)
*/
/* Global styles
---------------------------*/
html {
  box-sizing: border-box;
}
*, *.:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-weight: 400;
  padding: 20px;
  color: #fff;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 2em;
}
.banner-featured-stories {
  position: relative;
  background-color: #60AFC5;
  height: 3rem;
  margin: 0 auto;
}
.banner-featured-stories h2 {
  text-align: left;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.stories {
  display: flex;
  justify-content: space-around;

}
.story img {
  margin-top: 15px;
  width: 15rem;
}
/* header
-------------------*/
.main-header {
  max-width: 100%;
}
header .social-banner {
  background-color: #F8F8F8;
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px 0 0;
}
.facebook:hover {
  background-color: #3b5998;
}
.twitter:hover {
  background-color: #1da1f2;
}
header .social-banner img {
  width: 1.25em;
  height: 1.25em;
  fill: grey;
}
header p {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  line-height: 2em;
  color: #666062;
  width: 80%;
}
.spokane-img {
  background-image: url(../img/spokane.jpg);
  background-repeat: no-repeat;
  height: 344px;
}
/* Navigation */
button {
  background-color: #fff;
  border: 0;
}
.dropbtn {
  background-color: #fff;
  color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  font-size: 1em;
  position: relative;
  display: inline-block;
}
.dropdown-items {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-items a {
  font-size: 1em;
  float: left;
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-items a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-items {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #fff;
  width: 100%;
}
.cru-logo {
  margin-right: auto;
}
.cru-logo img {
  height: 60px;
  width: 60px;
}
nav a {
  text-decoration: none;
  font-weight: 400;
}
nav img {
  padding-top: 5px;
  padding-left: 20px;
  width: 35px;
  height: 25px;
}

/* main
-------------------*/
.main {
  max-width: 100%;
  margin: 0 auto;
}
.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.photos img {
  margin: 10px;
  height: 35%;
  width: 35%;
}

h1, h2 {
  text-align: center;
}
/* footer
-------------------*/
footer {
  padding: 10px;
  text-align: center;
}
footer p {
  margin: 10px;
}
