/* Color Palette
  cru-gold #f9b625 rgb(249, 182, 37)
  cru-gray #666062 rgb(98, 96, 98)
  cru-orange #dd7d1b rgb(221, 125, 27)
  cru-deep-blue #007398 rgb(0, 115, 152)
  cru-bright-blue #3eb1c8 rgb(62, 177, 200)
*/
/* Global styles
---------------------------*/
html {
  box-sizing: border-box;
}
*, *.:before, *:after {
  box-sizing: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1, h2 {
  font-weight: 400;
  padding: 20px;
}

/* header
-------------------*/
nav img {
  width: 45px;
  height: 45px;
}
